
@{
    ViewBag.Title = "Pas d'accès";
    Layout = "~/Views/Shared/_connectedLayout.cshtml";
}
<div class="container">
    <h4>Pas d'accès</h4>
    <p>Vous ne disposez pas des accès pour accéder à cette fonctionnalité</p>
</div>

