
@{
    Layout = "~/Views/Shared/_connectedLayoutUtilisateurs.cshtml";
    ViewBag.Title = "NoAccess";
}
<div class="container">
    <p>Vous ne disposez pas des accès suffisant pour effectuer cette manipulation.</p>
</div>
